$h1-size: 3rem;
$h2-size: 2rem;
$h3-size: 1rem;
$text-size: 0.9rem;
$font-url: url("../assets/Montserrat-Light.woff");

$background-url: url("../assets/background.jpg");

$wrapper-color: white;
$span-color: #1a2479;
$span-hover: #c265c0;
$font-color: #1a2479;
$newTask-background-color: rgb(245, 245, 245);
$newTask-background-active: #ebe6ff;
$newTask-border-color: #c265c0;
$newTask-border-active: #1a2479;
$button-background-color: #c265c0;
$button-color: white;
$button-color-hover: #1a2479;
$button-border: #c265c0;
$button-background-hover: #ebe6ff;
$hr-color: #dbdbdb;
$checkbox-color: #a8a8a8;
$checkbox-background-color: #c265c0;
$checkbox-checked-background-color: #1a2479;

$checkbox-size: 1rem;
$newTask-size: 70%;

$checkbox-position: 0.1rem;

$body-padding: 1rem;
$wrapper-padding: 2rem;
$sort-padding: 0.3rem;
$ul-padding: 0;
$tasklabel-padding: 1.5rem;
$button-padding: 0.5rem;
$newTask-padding: 0.5rem;

$h1-margin: 1rem;
$h3-margin: 1rem;
$li-margin: 1rem;
$checkbox-margin: 0.5rem;
$label-margin: 1rem;
$span-margin: auto;
$currentList-margin: 2rem;
$newTask-margin: 0.5rem;

$box-shadow: 5px 5px #1a2479;
$button-box-shadow: 3px 3px #1a2479;