@import "./variables";
@import "./mixins";

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Montserrat;
  src: $font-url;
}

body {
  font-size: 62.5%;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  background-image: $background-url;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  padding: $body-padding;
}

h1 {
  font-size: $h1-size;
  margin: 0;
  margin-bottom: $h1-margin;
}

h2 {
  font-size: $h2-size;
}

h3 {
  font-size: $h3-size;
  margin: 0;
  margin-right: $h3-margin;
}

h1,
h2,
h3 {
  color: $font-color;
}

#wrapper {
  background: $wrapper-color;
  padding: $wrapper-padding;
  box-shadow: $box-shadow;
}

@media (min-width: 768px) {
  #wrapper {
    max-width: 600px;
  }
}

@media (max-width: 420px) {
  #wrapper {
    min-height: 94vh;
  }
}

#sortForm > div {
  padding: $sort-padding;
}

#currentListWrapper {
  margin-bottom: $currentList-margin;
}

label {
  font-size: $text-size;
}

ul {
  padding: $ul-padding;
}

li {
  font-size: $text-size;
  list-style-type: none;
  margin-top: $li-margin;
  margin-bottom: $li-margin;
  display: flex;
  align-items: center;
  opacity: 1;
  transition: opacity 0.4s linear;

  label {
    margin-right: $label-margin;
  }
}

hr {
  border: none;
  height: 1px;
  background-color: $hr-color;
}

.taskLabel,
.sortLabel {
  @include inputLabel;
}

.taskLabel input,
.sortLabel input {
  @include hideInput;
}

.checkBoxSpan,
.sortSpan {
  @include inputSpan;
}

.sortSpan {
  border-radius: 50%;
}

.taskLabel:hover input ~ .checkBoxSpan,
.sortLabel:hover input ~ .sortSpan {
  @include inputHover;
}

.taskLabel input:checked ~ .checkBoxSpan,
.sortLabel input:checked ~ .sortSpan {
  @include inputChecked;
}

.checkBoxSpan:after,
.sortSpan:after {
  @include hiddenIndicator;
}

.taskLabel input:checked ~ .checkBoxSpan:after,
.sortLabel input:checked ~ .sortSpan:after {
  display: block;
}

.sortLabel .sortSpan:after {
  left: 0.2rem;
  top: 0.2rem;
  width: 0.5rem;
  height: 0.5rem;
  background: white;
  border-radius: 50%;
}

.taskLabel .checkBoxSpan:after {
  left: 0.2rem;
  top: 0;
  width: 0.25rem;
  height: 0.5rem;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.fa-times-circle {
  color: $span-color;
  margin-left: $span-margin;
}

.fa-times-circle:hover {
  color: $span-hover;
}

#newTaskWrapper {
  display: flex;
}

#newTaskInput {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  // width: $newTask-size;
  flex-grow: 100;
  padding: $newTask-padding;
  margin-right: $newTask-margin;
  background-color: $newTask-background-color;
  border: 0;
  border-bottom: 1px solid $newTask-border-color;
  outline: none;
}

#newTaskInput:focus {
  background-color: $newTask-background-active;
  border: 0;
  border-bottom: 1px solid $newTask-border-active;
}

#newTaskInput + button {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  padding: $button-padding;
  border: 0;
  border-bottom: 1px solid $button-background-color;
  background-color: $button-background-color;
  color: $button-color;
  box-shadow: $button-box-shadow;
}

#newTaskInput + button:hover {
  border-bottom: 1px solid $button-border;
  background-color: $button-background-hover;
  color: $button-color-hover;
  box-shadow: $button-box-shadow;
}

#newTaskInput + button:focus {
  outline: 0;
}