$h1-size: 3rem;
$h2-size: 2rem;
$h3-size: 1.7rem;
$text-size: 1rem;
$font-url: url("../assets/Montserrat-Light.woff");

$wrapper-color: white;
$span-color: red;

$body-padding: 1rem;
$wrapper-padding: 2rem;
$ul-padding: 0;

$h1-margin: 1rem;
$h3-margin: 0;
$li-margin: 1rem;
$input-margin: 0.5rem;
$span-margin: 0.5rem;